.burger-menu__wrapper {
  display: flex;
}
.burger-menu {
  display: flex;
  height: 100%;
  background: #000000ed;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding: 2rem;
  padding-top: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.burger-menu__option {
  font-size: 1rem;
  color: #eeeeee;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-decoration: none;
  transition: color 0.3s linear;

  &:hover {
    color: #00ccff;
  }
}
