.drag-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  color: white;
  background: #6b6e70;
  width: 100%;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 0;
  padding: 1rem;
  margin: 0.5rem 1rem;
}

.drag-component__blue {
  height: 100px;
  width: 100px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.drag-component__red {
  height: 100px;
  width: 100px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.drag-component__green {
  height: 100px;
  width: 100px;
  background-color: green;
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  align-items: center;
  align-self: flex-end;
}
