header {
  display: flex;
  justify-content: flex-start;
  color: white;
  background: gray;
  text-transform: uppercase;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 1rem;
  text-align: center;
  transition: 200ms;
  &:hover {
    box-shadow: 0 0 2rem gray;
  }
}

.menu__wrapper {
  display: flex;
}
